
div.phone {
    
    &.private {
        width: 250px;
        float: left;
        
        div.viewport {
            width: 250px;
            height: 200px;
                
            div.video {
                text-align: center;
                height: 180px;
                background-color: black;
                
                video {
                    height: 180px;
                }
            }
            
            div.label {
                text-align: center;
            }
        }
        
        div.control {
            text-align: center;
            ul {
                list-style: none;
                li {
                    display: inline-block;
                }
            }
        }
    }
    
}

